In [14]:
import pyodbc
import cx_Oracle
import pandas as pd
import pyodbc
import pypyodbc as odbc
from tqdm import tqdm
import time

In [15]:
# Define your SQL Server connection parameters
server = 'ADIL\\SQLEXPRESS'
database = 'master'

# Connection string for SQL Server using Windows Authentication
connection_string = f'Driver={{ODBC Driver 17 for SQL Server}};Server={server};Database={database};Trusted_Connection=yes;'

In [16]:
# Define your Oracle connection parameters
oracle_username = 'hr'
oracle_password = 'hr'
oracle_dsn = 'localhost:1521/orclpdb'  # e.g., 'localhost:1521/orcl'

In [17]:
try:
    # Simulate a connection process with a progress bar
    print("Attempting to connect to SQL Server...")
    for progress in tqdm(range(100), desc="Connecting to SQL Server", unit="%", ncols=80):
        time.sleep(0.02)  # Simulate some delay for each step in the progress bar

    # Attempt to establish a connection to SQL Server
    with pyodbc.connect(connection_string) as sql_connection:
        print("\nConnection to SQL Server successful!")

        # Create a cursor to execute SQL queries on SQL Server
        sql_cursor = sql_connection.cursor()

        # Define your SQL query to fetch data
        sql_query = """SELECT * FROM FinanceRecords;"""  # Modify this as needed

        # Execute the query
        sql_cursor.execute(sql_query)

        # Fetch all rows from the executed query
        rows = sql_cursor.fetchall()
        total_records = len(rows)  # Count the total records fetched
        print(f"Total records fetched from SQL Server: {total_records}")

        # Print the fetched records
        print("\nFetched records from SQL Server:")
        for row in rows:
            print(row)

        # Connect to the Oracle database
        oracle_connection = cx_Oracle.connect(oracle_username, oracle_password, oracle_dsn)
        print("Connection to Oracle database successful!")

        # Create a cursor to execute SQL queries on Oracle
        oracle_cursor = oracle_connection.cursor()
        rows_inserted = 0  # Initialize a counter for inserted rows
        
        # Use tqdm to show progress as we process each row for insertion
        with tqdm(total=total_records, desc="Inserting rows into Oracle", unit="row", ncols=80) as progress_bar:
            for row in rows:
                # Define your Oracle insert query
                insert_query = """INSERT INTO FinanceRecords (RecordID, TransactionDate, AccountNumber, TransactionType, Amount,
                Currency,Description,Category,CreatedAt,ModifiedAt) VALUES (:1, :2, :3, :4, :5, :6, :7, :8, :9, :10)"""  # Modify column names and placeholders as needed
                
                # Execute the insert query
                oracle_cursor.execute(insert_query, row)  # Assuming row contains values for all columns

                # Update progress bar after each row is inserted
                progress_bar.update(1)
                rows_inserted += 1  # Increment the inserted rows counter

        # Commit the transaction to save changes
        oracle_connection.commit()
        print("Data insertion into Oracle database completed successfully!")
        print(f"Total rows inserted into Oracle database: {rows_inserted}")

except Exception as e:
    print("\nError:", e)

finally:
    # Close the Oracle cursor and connection
    if 'oracle_cursor' in locals():
        oracle_cursor.close()
    if 'oracle_connection' in locals():
        oracle_connection.close()
    print("Oracle connection closed.")

Attempting to connect to SQL Server...

Connecting to SQL Server: 100%|████████████████| 100/100 [00:02<00:00, 47.29%/s]

Connection to SQL Server successful!
Total records fetched from SQL Server: 100

Fetched records from SQL Server:
(1, datetime.date(2024, 11, 1), 'ACC1001', 'Credit', Decimal('1200.50'), 'USD', 'Salary payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(2, datetime.date(2024, 11, 1), 'ACC1002', 'Debit', Decimal('200.00'), 'USD', 'Utility bill payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(3, datetime.date(2024, 11, 2), 'ACC1003', 'Debit', Decimal('150.75'), 'USD', 'Grocery shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(4, datetime.date(2024, 11, 3), 'ACC1004', 'Credit', Decimal('500.00'), 'USD', 'Freelance payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(5, datetime.date(2024, 11, 3), 'ACC1005', 'Debit', Decimal('100.00'), 'USD', 'Transportation', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(6, datetime.date(2024, 11, 4), 'ACC1006', 'Credit', Decimal('750.00'), 'USD', 'Bonus', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(7, datetime.date(2024, 11, 4), 'ACC1007', 'Debit', Decimal('50.00'), 'USD', 'Coffee shop', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(8, datetime.date(2024, 11, 5), 'ACC1008', 'Debit', Decimal('300.00'), 'USD', 'Rent payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(9, datetime.date(2024, 11, 5), 'ACC1009', 'Credit', Decimal('1000.00'), 'USD', 'Project income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(10, datetime.date(2024, 11, 6), 'ACC1010', 'Debit', Decimal('120.00'), 'USD', 'Subscription fees', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(11, datetime.date(2024, 11, 6), 'ACC1011', 'Debit', Decimal('200.00'), 'USD', 'Car maintenance', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(12, datetime.date(2024, 11, 7), 'ACC1012', 'Credit', Decimal('150.00'), 'USD', 'Gift received', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(13, datetime.date(2024, 11, 8), 'ACC1013', 'Credit', Decimal('200.00'), 'USD', 'Interest earned', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(14, datetime.date(2024, 11, 8), 'ACC1014', 'Debit', Decimal('70.00'), 'USD', 'Dining out', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(15, datetime.date(2024, 11, 9), 'ACC1015', 'Debit', Decimal('500.00'), 'USD', 'Loan repayment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(16, datetime.date(2024, 11, 10), 'ACC1016', 'Credit', Decimal('1000.00'), 'USD', 'Consulting income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(17, datetime.date(2024, 11, 10), 'ACC1017', 'Debit', Decimal('35.00'), 'USD', 'Gym membership', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(18, datetime.date(2024, 11, 11), 'ACC1018', 'Debit', Decimal('80.00'), 'USD', 'Grocery shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(19, datetime.date(2024, 11, 12), 'ACC1019', 'Debit', Decimal('100.00'), 'USD', 'Clothing purchase', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(20, datetime.date(2024, 11, 12), 'ACC1020', 'Credit', Decimal('300.00'), 'USD', 'Cashback reward', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(21, datetime.date(2024, 11, 13), 'ACC1021', 'Debit', Decimal('250.00'), 'USD', 'Medical expenses', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(22, datetime.date(2024, 11, 13), 'ACC1022', 'Credit', Decimal('700.00'), 'USD', 'Investment income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(23, datetime.date(2024, 11, 14), 'ACC1023', 'Debit', Decimal('50.00'), 'USD', 'Movie tickets', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(24, datetime.date(2024, 11, 14), 'ACC1024', 'Debit', Decimal('100.00'), 'USD', 'Books purchase', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(25, datetime.date(2024, 11, 15), 'ACC1025', 'Credit', Decimal('150.00'), 'USD', 'Gift received', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(26, datetime.date(2024, 11, 16), 'ACC1026', 'Debit', Decimal('20.00'), 'USD', 'Coffee shop', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(27, datetime.date(2024, 11, 16), 'ACC1027', 'Debit', Decimal('300.00'), 'USD', 'Online shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(28, datetime.date(2024, 11, 17), 'ACC1028', 'Credit', Decimal('2500.00'), 'USD', 'Salary payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(29, datetime.date(2024, 11, 17), 'ACC1029', 'Debit', Decimal('50.00'), 'USD', 'Charity donation', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(30, datetime.date(2024, 11, 18), 'ACC1030', 'Debit', Decimal('400.00'), 'USD', 'New furniture', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(31, datetime.date(2024, 11, 18), 'ACC1031', 'Credit', Decimal('500.00'), 'USD', 'Side hustle income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(32, datetime.date(2024, 11, 19), 'ACC1032', 'Debit', Decimal('150.00'), 'USD', 'Event tickets', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(33, datetime.date(2024, 11, 20), 'ACC1033', 'Credit', Decimal('1000.00'), 'USD', 'Business revenue', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(34, datetime.date(2024, 11, 20), 'ACC1034', 'Debit', Decimal('100.00'), 'USD', 'Pet care', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(35, datetime.date(2024, 11, 21), 'ACC1035', 'Debit', Decimal('20.00'), 'USD', 'Fast food', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(36, datetime.date(2024, 11, 21), 'ACC1036', 'Credit', Decimal('75.00'), 'USD', 'Refund', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(37, datetime.date(2024, 11, 22), 'ACC1037', 'Debit', Decimal('500.00'), 'USD', 'Insurance payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(38, datetime.date(2024, 11, 23), 'ACC1038', 'Credit', Decimal('300.00'), 'USD', 'Freelance payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(39, datetime.date(2024, 11, 23), 'ACC1039', 'Debit', Decimal('60.00'), 'USD', 'Concert tickets', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(40, datetime.date(2024, 11, 24), 'ACC1040', 'Credit', Decimal('400.00'), 'USD', 'Rental income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(41, datetime.date(2024, 11, 25), 'ACC1041', 'Debit', Decimal('30.00'), 'USD', 'Coffee shop', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(42, datetime.date(2024, 11, 25), 'ACC1042', 'Debit', Decimal('120.00'), 'USD', 'Grocery shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(43, datetime.date(2024, 11, 26), 'ACC1043', 'Credit', Decimal('200.00'), 'USD', 'Savings interest', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(44, datetime.date(2024, 11, 27), 'ACC1044', 'Debit', Decimal('80.00'), 'USD', 'Subscription fees', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(45, datetime.date(2024, 11, 28), 'ACC1045', 'Credit', Decimal('100.00'), 'USD', 'Gift received', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(46, datetime.date(2024, 11, 28), 'ACC1046', 'Debit', Decimal('150.00'), 'USD', 'Car maintenance', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(47, datetime.date(2024, 11, 29), 'ACC1047', 'Credit', Decimal('750.00'), 'USD', 'Consulting income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(48, datetime.date(2024, 11, 30), 'ACC1048', 'Debit', Decimal('250.00'), 'USD', 'Utility bill payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(49, datetime.date(2024, 11, 30), 'ACC1049', 'Credit', Decimal('500.00'), 'USD', 'Bonus', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(50, datetime.date(2024, 11, 30), 'ACC1050', 'Debit', Decimal('200.00'), 'USD', 'Loan repayment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 26, 120000), None)
(51, datetime.date(2024, 11, 1), 'ACC1001', 'Credit', Decimal('1200.50'), 'USD', 'Salary payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(52, datetime.date(2024, 11, 1), 'ACC1002', 'Debit', Decimal('200.00'), 'USD', 'Utility bill payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(53, datetime.date(2024, 11, 2), 'ACC1003', 'Debit', Decimal('150.75'), 'USD', 'Grocery shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(54, datetime.date(2024, 11, 3), 'ACC1004', 'Credit', Decimal('500.00'), 'USD', 'Freelance payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(55, datetime.date(2024, 11, 3), 'ACC1005', 'Debit', Decimal('100.00'), 'USD', 'Transportation', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(56, datetime.date(2024, 11, 4), 'ACC1006', 'Credit', Decimal('750.00'), 'USD', 'Bonus', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(57, datetime.date(2024, 11, 4), 'ACC1007', 'Debit', Decimal('50.00'), 'USD', 'Coffee shop', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(58, datetime.date(2024, 11, 5), 'ACC1008', 'Debit', Decimal('300.00'), 'USD', 'Rent payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(59, datetime.date(2024, 11, 5), 'ACC1009', 'Credit', Decimal('1000.00'), 'USD', 'Project income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(60, datetime.date(2024, 11, 6), 'ACC1010', 'Debit', Decimal('120.00'), 'USD', 'Subscription fees', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(61, datetime.date(2024, 11, 6), 'ACC1011', 'Debit', Decimal('200.00'), 'USD', 'Car maintenance', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(62, datetime.date(2024, 11, 7), 'ACC1012', 'Credit', Decimal('150.00'), 'USD', 'Gift received', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(63, datetime.date(2024, 11, 8), 'ACC1013', 'Credit', Decimal('200.00'), 'USD', 'Interest earned', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(64, datetime.date(2024, 11, 8), 'ACC1014', 'Debit', Decimal('70.00'), 'USD', 'Dining out', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(65, datetime.date(2024, 11, 9), 'ACC1015', 'Debit', Decimal('500.00'), 'USD', 'Loan repayment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(66, datetime.date(2024, 11, 10), 'ACC1016', 'Credit', Decimal('1000.00'), 'USD', 'Consulting income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(67, datetime.date(2024, 11, 10), 'ACC1017', 'Debit', Decimal('35.00'), 'USD', 'Gym membership', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(68, datetime.date(2024, 11, 11), 'ACC1018', 'Debit', Decimal('80.00'), 'USD', 'Grocery shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(69, datetime.date(2024, 11, 12), 'ACC1019', 'Debit', Decimal('100.00'), 'USD', 'Clothing purchase', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(70, datetime.date(2024, 11, 12), 'ACC1020', 'Credit', Decimal('300.00'), 'USD', 'Cashback reward', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(71, datetime.date(2024, 11, 13), 'ACC1021', 'Debit', Decimal('250.00'), 'USD', 'Medical expenses', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(72, datetime.date(2024, 11, 13), 'ACC1022', 'Credit', Decimal('700.00'), 'USD', 'Investment income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(73, datetime.date(2024, 11, 14), 'ACC1023', 'Debit', Decimal('50.00'), 'USD', 'Movie tickets', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(74, datetime.date(2024, 11, 14), 'ACC1024', 'Debit', Decimal('100.00'), 'USD', 'Books purchase', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(75, datetime.date(2024, 11, 15), 'ACC1025', 'Credit', Decimal('150.00'), 'USD', 'Gift received', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(76, datetime.date(2024, 11, 16), 'ACC1026', 'Debit', Decimal('20.00'), 'USD', 'Coffee shop', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(77, datetime.date(2024, 11, 16), 'ACC1027', 'Debit', Decimal('300.00'), 'USD', 'Online shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(78, datetime.date(2024, 11, 17), 'ACC1028', 'Credit', Decimal('2500.00'), 'USD', 'Salary payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(79, datetime.date(2024, 11, 17), 'ACC1029', 'Debit', Decimal('50.00'), 'USD', 'Charity donation', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(80, datetime.date(2024, 11, 18), 'ACC1030', 'Debit', Decimal('400.00'), 'USD', 'New furniture', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(81, datetime.date(2024, 11, 18), 'ACC1031', 'Credit', Decimal('500.00'), 'USD', 'Side hustle income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(82, datetime.date(2024, 11, 19), 'ACC1032', 'Debit', Decimal('150.00'), 'USD', 'Event tickets', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(83, datetime.date(2024, 11, 20), 'ACC1033', 'Credit', Decimal('1000.00'), 'USD', 'Business revenue', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(84, datetime.date(2024, 11, 20), 'ACC1034', 'Debit', Decimal('100.00'), 'USD', 'Pet care', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(85, datetime.date(2024, 11, 21), 'ACC1035', 'Debit', Decimal('20.00'), 'USD', 'Fast food', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(86, datetime.date(2024, 11, 21), 'ACC1036', 'Credit', Decimal('75.00'), 'USD', 'Refund', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(87, datetime.date(2024, 11, 22), 'ACC1037', 'Debit', Decimal('500.00'), 'USD', 'Insurance payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(88, datetime.date(2024, 11, 23), 'ACC1038', 'Credit', Decimal('300.00'), 'USD', 'Freelance payment', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(89, datetime.date(2024, 11, 23), 'ACC1039', 'Debit', Decimal('60.00'), 'USD', 'Concert tickets', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(90, datetime.date(2024, 11, 24), 'ACC1040', 'Credit', Decimal('400.00'), 'USD', 'Rental income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(91, datetime.date(2024, 11, 25), 'ACC1041', 'Debit', Decimal('30.00'), 'USD', 'Coffee shop', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(92, datetime.date(2024, 11, 25), 'ACC1042', 'Debit', Decimal('120.00'), 'USD', 'Grocery shopping', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(93, datetime.date(2024, 11, 26), 'ACC1043', 'Credit', Decimal('200.00'), 'USD', 'Savings interest', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(94, datetime.date(2024, 11, 27), 'ACC1044', 'Debit', Decimal('80.00'), 'USD', 'Subscription fees', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(95, datetime.date(2024, 11, 28), 'ACC1045', 'Credit', Decimal('100.00'), 'USD', 'Gift received', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(96, datetime.date(2024, 11, 28), 'ACC1046', 'Debit', Decimal('150.00'), 'USD', 'Car maintenance', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(97, datetime.date(2024, 11, 29), 'ACC1047', 'Credit', Decimal('750.00'), 'USD', 'Consulting income', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(98, datetime.date(2024, 11, 30), 'ACC1048', 'Debit', Decimal('250.00'), 'USD', 'Utility bill payment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(99, datetime.date(2024, 11, 30), 'ACC1049', 'Credit', Decimal('500.00'), 'USD', 'Bonus', 'Income', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
(100, datetime.date(2024, 11, 30), 'ACC1050', 'Debit', Decimal('200.00'), 'USD', 'Loan repayment', 'Expense', datetime.datetime(2024, 11, 18, 23, 42, 30, 373000), None)
Connection to Oracle database successful!

Inserting rows into Oracle: 100%|██████████| 100/100 [00:00<00:00, 3703.32row/s]

Data insertion into Oracle database completed successfully!
Total rows inserted into Oracle database: 100
Oracle connection closed.